* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #020617;
  color: #fff;
}

.sidebar {
    width: 19.76%;
    background-color: hsl(0, 0%, 98%);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.menuHeader {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    align-items: center;
    gap: 18px;
    padding: 18px;
    margin-left: 10px;
     margin-top: 20px;
}

.imgEscudo {
    display: block;
    width: 20%;
    height: auto;
    margin-top: -3%;
    border-radius: 15px;
}

.menuTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 62%;
    margin-top: 2%;

}

.sidebar #title {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: #020617;
}


.sidebar p {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: -7%;
    margin-bottom: 20px;
    color: #555;
}

.menuLinha {
    border: none;
    height: 1px;
    width: 100%;
    background: #000000;
    margin: 12px auto;
    margin-bottom: 51px;
}

.sidebar h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #737373;
    margin-left: 20px;
    margin-bottom: 10px;
}

.sidebar a {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: #a6a6a6;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    transition: background-color 0.3s;
    margin-left: 10px;
}

.sidebar a:hover,
.sidebar a.active {
  background-color: #60a5fa;
  color: #fff;
}

.content {
  flex: 1;  
  padding: 30px;
  margin-left: 21%;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 140%;
}

.back-btn {
    background: #0f172a;
    border: none;
    color: #fff;
    font-size: 41px;
    padding: 10px;
    border: 1px solid #3d475a;
    border-radius: 10px;
    cursor: pointer;
}

.info-card {
  background-color: #1e293b;
  border: 2px solid #3d475a;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.status {
  display: inline-block;
  background-color: #16a34a;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  margin: 10px 0;
  font-size: 14px;
}

.descricao {
  margin: 15px 0;
  color: #e2e8f0;
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.details p {
  color: #94a3b8;
}

.suspeito {
  margin-top: 20px;
}

.side-panels {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.panel {
  flex: 1;
  background-color: #1e293b;
  border-radius: 12px;
  border: 1px solid #3d475a;
  padding: 20px;
}

.panel h3{
  margin-bottom: 15px;
}

.reporter {
  background-color: #1e293b;
  border-radius: 12px;
  border: 1px solid #3d475a;
  padding: 20px;
}

.reporter h2{
  margin-bottom: 15px;
}