body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 350px;
    margin-top: -80px; 
}

.szn{
    display: flex;
    justify-content: center;
}

.carrosel{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden ;
}

.slides{
    width: 400px;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}


