* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Glacial Indifference', sans-serif;
}

body {
  background-color: #f0f0f0; 
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.login-container {
  text-align: center;
  width: 100%;
  max-width: 700px;
  padding: 40px 30px;
}


.logo {
  width: 500px;
  margin-bottom: 10px;
}


h1 {
  font-size: 30px;
  font-weight: normal;
  color: #000;
  margin-bottom: 70px;
}

/* input de email e senha */
.input {
  width: 100%;
  max-width: 100%;
  padding: 17px;
  margin-bottom: 25px;
  border: 1px solid #bdb4b2;
  border-radius: 9px;
  font-size: 18px;
  background-color: #fff;
  outline: none;
}

.input::placeholder {
  color: #b7b7b7;
}


.botao {
  width: 100%;
  padding: 15px;
  background-color: #bdb4b2;
  color: #000;
  border: none;
  border-radius: 12px;
  font-size: 23px;
  cursor: pointer;
  margin-top: 50px;
  transition: 0.3s;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  color: #000;
  font-size: 18px;
  text-decoration: none;
}

.link span {
  color: #5170ff;
}

.link:hover span {
  text-decoration: underline;
}

.botao:hover {
  background-color: #b1a8a6;
}

