body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 350px;
    margin-top: -80px;
}

.logo-line {
    width: 600px;
    height: 3px;
    background: #cdcdcd;
    border: none;
    display: block;
    margin: -80px auto 0;
    border-radius: 6px;
}

.szn {
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

.botao-barra {
    border: none;
    background-color: transparent;
}

.barra:hover {
    cursor: pointer;
}

.barraImg {
    width: 80px;
}

.icone {
    display: flex;
    justify-content: left;
    width: 30px;
    margin-top: -5%;
    margin-right: 70px;
}
