* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}

header {
    display: flex;
    justify-content: space-around;
}

.logo {
    height: 350px;
    margin-top: -80px;
}

.logo-line {
    width: 600px;
    height: 3px;
    background: #cdcdcd;
    border: none;
    display: block;
    margin: -80px auto 0;
    border-radius: 6px;
}

.szn {
    display: flex;
    justify-content: center;
    margin-left: 25%;
}

.botao-barra {
    border: none;
    background-color: transparent;
}

.barra:hover {
    cursor: pointer;
}

.barraImg {
    width: 80px;
}

.icone {
    display: flex;
    justify-content: left;
    width: 30px;
    margin-top: -5%;
    margin-right: 70px;
}

.container {
  display: flex;
  gap: 25px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.produtos{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  margin-top: 0%; 
}

.produto  {
  border: 2px solid #000000; 
  padding: 2px;
  text-align: center;
  transition: 0.3s;
  background-color: white;

  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.produto img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.text {
  font-size: 1000px;
  margin-top: 0px;
  margin-bottom: 10px;
  width: 100%;
  text-align: left;
  padding: 6px 8px;
}

.text h3 {
  font-size: 13px;
  color: #000;
  margin-bottom: 3px;
}

.text p {
  font-size: 12px;
  color: #b4a9a9; /* cinza claro igual à imagem */
}

.produto:hover {
  transform: scale(1.02);
  box-shadow: 0 0 10px #000000;
}